*{
    margin: 0;
    padding: 0%;
}
.navebar{
    width: 100%;
    height: 57px;
    background-color: #ffffff(255, 255, 255);
    display: flex;  
    justify-content: space-between;
}
.menu1{
    width: 65px;
    height: 57px;
    background-image: url("image/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 33px;
}
.naveright{
    width: 239px;
    height: 57px;
    background-color: #ffffff(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.rlogo{
    align-items: center;
    opacity: calc(60%);
}
a:hover{
    background-color: rgb(165, 165, 243);
}
.main2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 210px;
        background-color: #ffffff(255, 255, 255);
        font-family: "Google Sans Display","Roboto", "Arial", "sans-serif";;
        font-size: 31px;
        text-align: center;
        line-height: 65px;
        letter-spacing: -3px;
        color: #3c4043;
}
.text1{
    color: #188038;
    font-size: 58px;
    font-family: "Google Sans", "Roboto", "Arial", "sans-serif";
}
.bodymain{
    width: 1349px;
    height: 1556px;
    background-color: #ffffff;  
}
.L-side{
    width: 367px;
    height: 960px;
    background-color: #f7f7f7;  
}
.L-side1 {
    margin-left: 40px;
    width: 239px;
    height: 1013px;
    background-color: #ffffff;
 
    margin-top: 83px;
    font-size: 17px;
    opacity: 71%;
    color: #3c4043;
    font-family:"Google Sans", Roboto, Arial, sans-serif;
}
.box1r{
    background-color: lawngreen(55, 152, 236);
    width: 170px;
    height: 50px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 13px;
    color:black ;
    font-weight: 100;
    text-align: left;
}
.product-section {
    width: 981px;
    height: 1200px;
    background-color: #ffffff(255, 255, 255);
    margin-left: 367px;
    margin-top: -1000px;
     display: grid;
    grid-template-rows: 310px 310px 310px;
    grid-template-columns: 305px 305px 305px;
    grid-gap: 30px;
}
.product-section img{
    width: 60%;
}
.box {
  display: grid;
  justify-content: center;
  place-items: center;
  transition: 1.8s;
}
.box:hover{
    transform: scale(1.1);
}
.text2{
    color: #3c4043;
    font-family:Google Sans, Roboto, Arial, sans-serif ;
    font-weight: bold;
    font-size: 15px;
}
.footer {
    width: 1349px;
    height: 280px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 3.8fr 1.5fr .8fr .8fr;
    grid-template-rows: 2.9fr 2fr 1fr;
    font-family:"Google Sans", Arial, sans-serif ;
    font-size: 14px;
    opacity: 80%;
    color: #3c4043;
}
.box1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #ffffff(255, 255, 255);
    margin-left: 140px;
    margin-bottom: 126px;
}
.box2 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 2;
    background-color: #ffffff(255, 255, 255); 
}
#foot{
    width: 100%;
    height: 100px;
    background-color: #0b130d;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer1 {
    width: 1349px;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left {
    width: 90%;
    height: 50px;
    background-color: #ffffff(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    font-size: 12px;
    font-family: "Google Sans", arial, sans-serif;
    opacity: 80%;
    color: #3c4043;
}
.footbox1{
    width: 50%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
}
.footbox1 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.footbox1 li{
    list-style: none;
    
}
.footbox1 img{
    width: 20px;
    margin: 10px;
    opacity: calc(80%);
}
.left img{
    width: 20px;
    margin: 10px;
}
.left li{
    list-style: none;
    margin: 10px;
    
    
}
.left ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
